/** General **/
.label__helper {
    color: #777;
    font-size: 11px;
    margin-left: 5px;
}
.scrollable {
    display: none;
    width: 90%;
}

/** Table **/
.jt-hidden {
    display: none;
}
.jt-col {
    padding-top: 8px;
    padding-bottom: 8px;
}
.jt-input {
    width: 90%;
}
.jt-btn {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}
.jt-options,
.jt-options--edit {
    text-align: center;
    display: none;
}
.jt-options {
    display: block;
}
.jt-is-editing .jt-options {
    display: none;
}
.jt-is-editing .jt-options--edit {
    display: block;
}

.is-hidden {
    display: none;
}


/** Dropdown **/
.dropdown__btn {
    margin: 0;
    vertical-align: top;
}

.dropdown__msg {
    border: 1px solid transparent;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
}
.dropdown__msg--error {
    background-color: rgba(198, 17, 17, 0.65);
    border-color: rgb(233, 39, 39);
    color: #fff;
}
.dropdown__msg--success {
    background-color: rgba(79, 198, 17, 0.6);
    border-color: rgb(51, 209, 20);
}

.dropdown__add-form .input {
    margin: 5px 0;
}
.dropdown__add-form .input__label {
    display: block;
    padding-left: 5px;
}
.dropdown__add-form .input__field {
    width: 80%;
}
.dropdown__add-form .dropdown__add-showhide {
    color: #777;
    cursor: pointer;
    display: block;
}


/** Conditions **/
.fd-left {
    float: left;
}
.fd-cond {
    max-width: 850px;
    width: 100%;
}

.fd-cond__content {
    border: 1px solid #ddd;
    margin-top: 10px;
}
.fd-cond__header {
    background: #232323 url(themes/OneEleven/images/layout/sprite_repeatx.png) 831px -99px repeat-x;
    color: #fa8004;
    height: 45px;
    line-height: 45px;
    text-shadow: -1px -1px 0 #000;
    white-space: nowrap;
}
.fd-cond__header .fd-cond__col {
    padding: 0 1%;
}


.fd-cond__item {
    background-color: #fafafa;
    display: table;
    border-collapse: separate;
}
.fd-cond__item:nth-child(even) {
    background-color: #f2f2f2;
}

.fd-cond__item + .fd-cond__item {
    border-top: 2px solid #ddd;
}

.fd-cond__col {
    display: table-cell;
    padding: 1%;
    vertical-align: top;
}

.fd-cond__col--first,
.fd-cond__col--form {
    width: 64%;
}
.fd-cond__col--last,
.fd-cond__col--opt {
    min-width: 34px;
    text-align: center;
    vertical-align: middle;
}

.fd-cond__col .ui-button {
    margin-top: 8px;
}

.fd-cond__items,
.fd-cond__conditions {
    list-style: none !important;
    margin: 0 !important;
    padding: 0;
}

.fd-cond__form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.fd-cond__form + .fd-cond__form {
    padding-top: 10px;
}
.fd-cond__form .fd-cond__input {
    width: 30%;
}
.fd-cond__form .fd-cond__input--opt {
    line-height: 47px;
    text-align: right;
    width: 6%;
}
.fd-cond__form .fd-cond__input--submit {
    padding-top: 10px;
    text-align: right;
}
.fd-cond__form .fd-cond__input + .fd-cond__input {
    margin-left: 2%;
}

.fd-cond__label {
    font-weight: bold;
    display: block;
}
.fd-cond__input .cms_dropdown {
    width: 100%;
}
.fd-cond__input .cms_textfield,
.fd-cond__item .cms_browse {
    width: 93%;
}

.fd-cond__delete {
    cursor: pointer;
}
